/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.form {
    height: 50rem;
    position: relative;
    z-index: 1;
    background-color: #1a1a1a;
    max-width: 42rem;
    margin: 5rem auto;
    padding: 20px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 1rem #00bfff;
    border: 3px solid #00bfff;
}


.form p{
    font-size: 1.2rem;
    text-align: left;
    margin: 1rem 0 1.3rem;
    color: #b3b3b3;
}
.title {
    font-size: 2.2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 34px;
    color: #00bfff;
}
  
.title::before {
    width: 15px;
    height: 15px;
}
  
.title::after {
    width: 15px;
    height: 15px;
    animation: pulse 1s linear infinite;
}
  
.title::before,
.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: #00bfff;
}
 
.flex-group {
    padding: 0 6rem;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: 0 0 0.5rem;
}

.register-form .flex {
    padding: 0 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}
.register-form .flex label input{
    width: 18.9rem;
}

.form label {
    width: 38rem;
    margin: 2px 0;
    position: relative;
}
  
.form label input {
    height: 4.5rem;
    background-color: #333;
    color: #fff;
    width: 38rem;
    margin: auto;
    font-size: 1.3rem;
    padding: 40px 05px 05px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
}
  
.form label input + span {
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 10px;
    top: 1.4rem;
    font-size: 1.15rem;
    cursor: text;
    transition: 0.3s ease;
}
  
.form label input:placeholder-shown + span {
    top: 1.4rem;
    font-size: 1rem;
}
  
.form label input:focus + span,
.form label input:valid + span {
    color: #00bfff;
    top: 6px;
    font-size: 1rem;
}
 
.form button {
    width: 20rem;
    border: none;
    outline: none;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
    background-color: #00bfff;
}
  
.form button:hover {
    background-color: #00bfff96;
}
.form .message {
    text-align: center;
    margin: 1rem 0 0;
    color: #b3b3b3;
    font-size: 1rem;
}
.form .message a:hover {
    text-decoration: underline #00bfff;
}
  
.form .message a {
  color: #00bfff;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

@keyframes pulse {
    from {
      transform: scale(0.98);
      opacity: 1;
    }
  
    to {
      transform: scale(1.9);
      opacity: 0;
    }
}