/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.wrapper{
  height: 32rem;
  width: 600px;
  flex-direction: column;
  display: flex;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}
.wrapper .header-calendar{
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}
.header-calendar .icons{
  display: flex;
}
.header-calendar .icons span{
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
.icons span:last-child{
  margin-right: -10px;
}
.header-calendar .icons span:hover{
  background: #f2f2f2;
}
.header-calendar .current-date{
  font-size: 1.45rem;
  font-weight: 500;
}
.calendar{
  padding: 24px 10px;
}
.calendar ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendar .days{
  margin-bottom: 20px;
}
.calendar li{
  color: #333;
  width: calc(100% / 7);
  font-size: 1.07rem;
}
.calendar .weeks li{
  font-weight: 500;
  cursor: default;
}
.calendar .days li{
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}
.days li.inactive{
  color: #aaa;
}
.days li.active{
  color: #fff;
}
.days li::before{
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.days li.active::before{
  background: #9B59B6;
}
.days li:not(.active):hover::before{
  background: #f2f2f2;
}
.container-calendario{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.inform-calendar{
    margin-left: 4rem;
}
.inform-calendar h2{
    font-size: 2.4rem;
    color: #333333;
}
.inform-calendar ul{
    width: 40rem;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.inform-calendar ul span{
    font-size: 1.3rem;
    margin-right: 10px;
}

.inform-calendar ul li button{
    width: 8rem;
    height: 2.8rem;
    cursor: pointer;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.08rem;
    border-radius: 12px;
    background: transparent;
}
.inform-calendar ul li #aberto{
    border: 1px solid #00FF00;
    color: #00FF00;
}
.inform-calendar ul li #fechado{
    border: 1px solid #ff0000;
    color: #ff0000;
}

.inform-calendar ul li label{
   font-size: 1.3rem;
   margin-left: 5px;
}